.Keyboard-btn {
    width: 100%;
    border: 3px splid black;
    background : none;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.Keyboard-btn.active{
    background-color: hsl(200, 100%, 50%);
}

.Keyboard-btn.inactive{
    opacity: .3;
}

.Keyboard-btn:hover:not(:disabled),
.Keyboard-btn:focus:not(:disabled){
    background-color: hsl(200, 100%, 75%);
}

